<% layout('layouts/boilerplate') %>

<h1>ALL Campgroud</h1>

<div class="row">
  <% for(let campground of campgrounds) {%>
  <div class="col-4">
    <div class="card" style="width: 18rem">
      <img src="<%= campground.images[0].path %> " class="card-img-top" style="width:18rem;height:200px;" alt="..." />
      <div class="card-body p-3">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text">$<%= campground.price %>/night</p>
        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
          >View Detail</a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>
